*.csv
*.jld
*.h5
*.hdf5
*.pdf
*.txt
*.swp
*.log
*.jls
examples/debug*.jl
Manifest.toml
examples/Manifest.toml
test/Mainfest.toml
debug*.jl
dev*.jl
devel
paperscripts/EM/plotting/*.tex
paperscripts/EM/plotting/*.eps
!paperscripts/EM/data/lidar_highalt.csv
